.svg_img{
    border: thin solid black;
}

.tooltip {
    position: absolute;
    text-align: center;
    font: 12px sans-serif;
    /*  pointer-events: none;	This line needs to be removed */
}

.tooltip h3 {
    text-align: center;
    font-size: 2vh;
}

.tooltip h3,h4 {
    text-align: left;
}

.tooltip h4 {
    font: 14px sans-serif;
}

.table {
    font-size: 0.7em;
}

.x-axis, .y-axis {
    font-size: .5em;
}

.thumbnail {
    opacity: 1;
    cursor: default;
}
.thumbnail :hover{
    opacity: 0.8;
    cursor: pointer;
}

.gfg {
    margin: 1%;
    position: relative;
}

.first-txt {
    position: absolute;
    top: -1vh;
}

h3 {
    font-size: 1vh;
    text-align: center;
    width: 100%;
}

text.title {
    font-size: 1.5vh;
}

text.sub-title {
    font-size: 1vh;
}

text.legend-text {
    font-size: 10px;
}

text.legend-title {
    font-size: 20px;
}

img {
    border: 2px solid black;
}